In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
conn = sql.connect('clues.db')

In [3]:
sql_query = '''SELECT airdate, round, value, category, clue, answer
FROM clues
JOIN airdates ON clues.game = airdates.game
JOIN documents ON clues.id = documents.id
JOIN classifications ON clues.id = classifications.clue_id
JOIN categories ON classifications.category_id = categories.id;
'''

In [4]:
df = pd.read_sql_query(sql_query, conn)

In [5]:
df.head(20)

,airdate,round,value,category,clue,answer
0,1997-04-10,1,100,THE 1990s,"On August 28, 1990 he declared that Kuwait was...",Saddam Hussein
1,1997-04-10,1,100,AMERICAN MUSIC FESTIVALS,"Lumberjacks might like Felton, California's pi...",Saw
2,1997-04-10,1,100,TELEVISION,"The top show of 1976-77 was ""Happy Days""; the ...",Laverne & Shirley
3,1997-04-10,1,100,THE PLANETS,It's the third rock from the sun,Earth
4,1997-04-10,1,100,FRENCH CUISINE,"These little fish, which the French call ancho...",Anchovies
5,1997-04-10,1,100,"""C"" YOU AT THE MOVIES","In titles of films, these 2 words precede ""Mad...","""Call Me"""
6,1997-04-10,1,200,THE 1990s,"While visiting Ethiopia in 1995, this Egyptian...",Hosni Mubarak
7,1997-04-10,1,"1,200",AMERICAN MUSIC FESTIVALS,In '95 the Lower Keys Underwater Music Festiva...,Elvis Presley
8,1997-04-10,1,200,TELEVISION,"In 1996 shows, Steve Harvey, Mitch Mullany & T...",Teaching
9,1997-04-10,1,200,THE PLANETS,In August 1996 NASA announced life may have ex...,Mars
10,1997-04-10,1,200,FRENCH CUISINE,Combine minced shallots with this bread spread...,Butter
11,1997-04-10,1,200,"""C"" YOU AT THE MOVIES",Rodney Dangerfield wreaked havoc at a country ...,Caddyshack
12,1997-04-10,1,300,THE 1990s,"The world's largest money-wiring service, it w...",Western Union
13,1997-04-10,1,300,AMERICAN MUSIC FESTIVALS,This state has a Banjo-rama in Davison & a fid...,Michigan
14,1997-04-10,1,300,TELEVISION,She plays Dr. Michaela Quinn,Jane Seymour
15,1997-04-10,1,300,THE PLANETS,In 1980 Voyager 1 revealed that 2 of this plan...,Saturn
16,1997-04-10,1,300,FRENCH CUISINE,Though French chefs most often make soup from ...,Turtle
17,1997-04-10,1,300,"""C"" YOU AT THE MOVIES",Michael Crichton directed & wrote the screenpl...,Coma
18,1997-04-10,1,400,THE 1990s,In 1996 MOMA in New York added a 1963 XK-E mod...,Jaguar
19,1997-04-10,1,400,AMERICAN MUSIC FESTIVALS,In July this largest New Mexico city hosts a 3...,Albuquerque